.field-group{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px;
    display: flex;
    flex: 1;
    flex-direction: column;
}
label {
    font-size: 0.9em;
    color: #111;
    margin-bottom: 3px;
    display: block;
}

input{
    border: 1px solid #a1a1a180;
    height: 35px;
    text-indent: 8px;
    outline: none;
}

.error-holder {
    height: auto;
    margin-top: 4px;
    margin-bottom: 8px;
}

.error-holder  ul {
    margin: 0px;
    padding: 0px;
    padding-left: 20px;
    list-style-type: disc;
}

.error-holder  ul li {
    color: red;
    font-size: 0.8em;
    text-indent: 2px;
    margin-top: 8px;
    margin-bottom: 8px;
}