.main-wrapper {
    display: flex;
    flex: 1;
    background: green;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

.header {
    height: 60px;
    background: blue;
}

.inner {
    display: flex;
    flex: 1;
    background: green;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
}

.leftnavbar {
    background-color: 'red';
    flex: 0.3;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

}

.main-body {
    display: flex;
    background-color: 'blue';
    flex: 0.7;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    margin-right: 20px;
    margin-bottom: 20px;
}

.generator-type {
    display: flex;
    height: 60px;
    margin: 30px;
}

.generator-options {
    display: flex;
    flex-direction: column;
    flex:1;
    background: purple;
    margin: 0 30px 30px 30px;
}

textarea {
    display: flex;
    margin: 30px;
    flex: 0.8;
}