.inner-navbar {
    display: flex;
    margin-left: 0px;
    margin-top: 20px;
    margin-right: 0px;
    height: 44px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid #a1a1a1;
}

.inner-navbar-back-button {
    width: 50px;
    height: 30px;
    margin-left: 10px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-right: 1px solid #a1a1a1;
}

.inner-navbar-back-button span {
    color: #555;
    font-size: 1.3em;
}

.navbar-right-button {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-right-button-span {
    color: #555;
    font-size: 1.3em;
}

.navbar-right-button img {
    width: 30px;
    height: 30px;
}

.inner-navbar-back-button,
.navbar-right-button:hover {
    cursor: pointer;
}

.inner-navbar-back-title {
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    font-size: 1em;
    color: #222;
}


.inner-navbar-right-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 120px;
    height: 30px;
    margin-right: 10px;
}