.main-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

.header {
    height: 5px;
}

.inner {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
}

.leftnavbar {
    background-color: red;
    flex: 0.3;
    max-width: 280px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding-top: 70px;

}

.main-body {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin-right: 20px;
    margin-bottom: 20px;
}

.generator-type {
    display: flex;
    height: 60px;
    margin: 30px;
}

.generator-options {
    display: flex;
    flex-direction: column;
    flex:1;
    margin: 0 30px 30px 30px;
}

textarea {
    display: flex;
    margin: 30px;
    flex: 0.8;
}